.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.instructions {
    margin: 20px;
    padding: 10px;
    color: white;
    border-radius: 3px;
}

.navbar-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dual-buttons {
  display: flex;
  justify-content: space-between;
  width: fit-content + 20px;
}

.health-form {
  padding: 20px;
}

.form-container {
  width: 50%;
  height: 80%;
}
.graph-container {
  width: 50%;
  height: 80%;
}

.logo {
  max-height: 50px;
}

.graph {
  width: 100%;
  background-color: white;
}

.health-form {
  color: white;
  button{
    width: 100%;
  }
}

@import "custom";
