.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}


.navbar-span {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.dual-buttons {
  display: flex;
  justify-content: space-between;
  width: fit-content + 20px;
}



@import "custom";